<html>
<head>
    <script src="//cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
    <script src="//cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.js"></script>
    <style>
        body { background: #949494; }
    </style>
    <meta charset="utf-8">
    {{ bokeh_css }}
    {{ bokeh_js }}
</head>
<body onload="window.scrollTo(0,document.body.scrollHeight);">
    <!-- <button id="goFS">Go fullscreen</button> -->
    {{script|safe}}
    {{div|safe}}
    <script>
        var today = new Date().getHours();
        function checkTime(){
            if (today >= 7 && today <= 17) {
                setTimeout(function(){
                    window.location.reload(1);
                }, 1800000);
            } 
        }
        setTimeout(function(){
                    checkTIme();
                }, 1800000);

    </script>
</body>
</html>