<html>
<head>
    <link rel="shortcut icon" href="/favicon.ico">
    <script src="//cdn.pydata.org/bokeh/release/bokeh-3.0.1.min.js"></script>
    <script src="//cdn.pydata.org/bokeh/release/bokeh-widgets-3.0.1.min.js"></script>
    <style>
        /* body { background: #949494; } */
        body { background: #191919; }
    </style>
    <meta charset="utf-8">
    {{ bokeh_css }}
    {{ bokeh_js }}
</head>
<body onload="window.scrollTo(0,document.body.scrollHeight);">
    {{script|safe}}
    {{div|safe}}
    <script>
        function checkTime(){
            var today = new Date().getHours();
            console.log(today)
            if (today >= 7 && today <= 17) {
                    window.location.reload(1);
            } 
        }
        setInterval(function(){
                    checkTIme();
                }, 1800000);

    </script>
</body>
</html>